@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Red+Hat+Display:wght@600&display=swap');


/*** General HTML ***/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1, h2, h3 {
    font-family: 'Red Hat Display', sans-serif;
}

/*** Background Img ***/
/* Source: https://blizzard.gamespress.com/Wrath-of-the-Lich-King-Classic-Reveal */
html {
    background: url(../images/Lich_King_Key_Art-compressed.webp) no-repeat center center / cover fixed;
}


/*** Quiz Body & Introduction ***/
.quiz-body {
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 45%;
    height: 600px;
    border-radius: 30px;

}


.quiz-intro-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#intro-title {
    width: 80%;
    margin-top: 80px;
    font-size: 180%;
}


#intro-text {
    width: 80%;
    margin-top: 90px;
    margin-bottom: 20px;;
    font-size: 125%;
}


#player-name {
    width: 45%;
    height: 30px;
    margin-bottom: 60px;

    border: 2px solid rgb(33, 108, 138);
    border-radius: 5px;

    text-align: center;
    font-size: 120%;
}

/*** CSS for all control buttons ***/
.control-buttons {
    margin-bottom: 70px;

    background-color: rgb(33, 108, 138);
    color: white;
    width: 160px;
    height: 50px;

    border-radius: 4px;
    border: 1px solid rgb(172, 172, 172);
    font-size: 130%;
}

#player-name:hover {
    border: 3px solid rgb(68, 147, 179);
}

.control-buttons:hover {
    background-color: rgb(68, 147, 179);
}

.hide {
    display: none;
}


/*** Quiz Question & Button Grid ***/

#quiz-questions {
    margin-top: 80px;
    font-size: 125%;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.button-grid {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 40px 0;
}

.quiz-button {
    /* margin: 15px 60px; */
    margin: 0 60px;
    margin-top: 25px;
    width: 40%;
    height: 45px;

    border: 2px solid rgb(172, 172, 172);
    border-radius: 5px;

    font-size: 115%;
    color: white;
    background: rgb(33, 108, 138);
}

.quiz-button:hover {
    border-color: rgb(255, 193, 77);
}

.quiz-button.correct {
    background-color: rgb(46, 255, 46);
    color: black
}

.quiz-button.wrong {
    background-color: rgb(255, 93, 93);
}


/*** User Info | Username, Score, Timer & Ending/End Screen***/

#user-info {
    position: relative;
    bottom: 3%;
}


#username {
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 130%;

    margin-bottom: 5px;
}

.username-error::placeholder {
    color: red;
}

.scores {
    font-size: 140%;
}

/*** Sadly didn't manage to get the countdown to display it in real time :( ***/
#failed-timer {
    text-align: center;
    font-size: 140%;
    text-decoration: underline;

    position: relative;
}

#ending {
    font-size: 200%;
    text-align: center;

}

#thanks {
    text-decoration: underline;
    text-underline-offset: 9px;
    margin: 60px 0;
}

.end-score {
    margin-bottom: 30%;
}

/*** Media Queries for Responsive Design on different resolutions ***/

@media screen and (max-width: 1024px) {
    html {
        background-position-x: 28.5%;
    }

    .quiz-body {
        width: 85%;
    }

    .button-grid {
        grid-template-columns: repeat(1, auto);
    }

    .quiz-button {
        margin: 7px 30px;
        height: 45px;
    }

    #quiz-questions {
        font-size: 120%;
    }

    #player-name {
        font-size: 100%;
        width: 60%;
    }
}